/*--------------------------------------------------------------
# START Configuration
--------------------------------------------------------------*/
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}
/*--------------------------------------------------------------
# Keep the footer always down
--------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
}

/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
#home {
    width: 80%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

.gray-page {
    color: gray;
}
