{% extends 'base.html' %}
{% block navbar-content %}
<i class="">
</i>&nbsp;&nbsp;  Filter
{% endblock navbar-content %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'template.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>

    <br><br><br>
    <main role="main" class="container">

      <form method="GET" action="/filter_product">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="product_contains" placeholder="Product name..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="qty_contains" placeholder="Quantity..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="sale_contains" placeholder="Sale..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
                <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum price</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="min_purchase">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum price</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="max_purchase">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="category">Gender</label>
            <select id="category" class="form-control" name="category">
                                        {% block options %}
                                        <option value="" hidden></option>
                                        {%endblock options %}
                                        <option disabled></option>
                                        <option>M</option>
                                        <option>F</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>




    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
{% endblock content %}